<main>
    <h1 class="text-center text-uppercase">Hello world</h1>
    <h2 class="text-end text-lowercase">2 Time</h2>
    <h3 class="text-capitalize">3 time two three </h3>

    <hr>

    <div class="display-1 text-muted">Hello world</div>
    <div class="display-5">2 time</div>
    <div class="display-6">3 time</div>

    <hr>

    <div class="text-muted text-end">
        Додатковий текст
    </div>

    <hr>

    <button class="btn btn-primary">
        <span class="text-uppercase">Test button</span>
    </button>

    <br>
    <br>
    <br>

    <div class="card">
        <div div class="card-body">
            <div class="text-primary">My text</div>
            <div class="text-dark">My text</div>
            <div>My text</div>
        </div>
    </div>

    <br>
    <br>
    <br>

    <div class="card">
        <div div class="card-body">
            <button class="btn btn-secondary btn-lg">Додати</button>
            <button class="btn  btn-outline-secondary">Редагувати</button>
            <button class="btn  btn-outline-danger btn-sm">Видалити</button>
        </div>
    </div>
    <br>
    <br>
    <br>

    <div class="card">
        <div class="card-body">
            This is content
        </div>
    </div>

</main>