<main class="p-4">
    <h1 class="text-center text-uppercase">Hello world</h1>
    <h2 class="text-end text-lowercase">2 Time</h2>
    <h3 class="text-capitalize">3 time two three </h3>

    <hr>

    <div class="display-1 text-muted">Hello world</div>
    <div class="display-5">2 time</div>
    <div class="display-6">3 time</div>

    <hr>

    <div class="text-muted text-end">
        Додатковий текст
    </div>

    <hr>

    <button class="btn btn-primary">
        <span class="text-uppercase">Test button</span>
    </button>

    <br>
    <br>
    <br>

    <div class="card">
        <div div class="card-body">
            <div class="text-primary">My text</div>
            <div class="text-dark">My text</div>
            <div>My text</div>
        </div>
    </div>

    <br>
    <br>
    <br>

    <div class="card">
        <div div class="card-body">
            <button class="btn btn-secondary btn-lg">Додати</button>
            <button class="btn  btn-outline-secondary">Редагувати</button>
            <button class="btn  btn-outline-danger btn-sm">Видалити</button>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div>
        <div class="row gy-5">
            <section class="col-12">
                <div class="card text-bg-dark">
                    <img class="card-img-top" src="https://picsum.photos/400/200" alt="Product photo">
                    <div class="card-body">
                        <h5 class="card-title text-bg-secondary">Product #544646</h5>
                        <p class="text-bg-light">This is content</p>
                        <a href="/summary" class="btn btn-primary">Open</a>
                    </div>
                </div>
            </section>

            <section class="col-3">
                <div class="card">
                    <div class="card-header">
                        <div class="display-6">Menu</div>
                    </div>

                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item text-bg-light">
                                <a href="#" class="btn btn-link">Home page</a>
                            </li>
                            <li class="list-group-item">
                                <a href="/summary" class="btn btn-link">Summary page</a>
                            </li>
                            <li class="list-group-item">
                                <a href="/skills" class="btn btn-link">Skills page</a>
                            </li>
                        </ul>
                    </div>

                    <div class="card-footer">
                        <button class="btn btn-dark btn-sm">Update list</button>
                    </div>
            </section>

            <section class="col-9">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>
                                #id
                            </th>
                            <th>
                                name
                            </th>
                            <th>
                                age
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>John</td>
                            <td>35</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Bred</td>
                            <td>18</td>
                        </tr>
                    </tbody>
                </table>
            </section>

            <section class="col-12">
                <div class="row gy-2 gx-2">
                    <div class="col-4">
                        <div class="card text-bg-success">
                            <div class="card-header text-center">Header</div>
                            <div class="card-body text-center">
                                <h6 class="card-title">This is title</h6>
                                <p>This is content of our box</p>
                                <button class="btn btn-light">Click!</button>
                            </div>
                            <div class="card-footer text-center">Footer</div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card text-bg-success">
                            <div class="card-header text-center">Header</div>
                            <div class="card-body text-center">
                                <h6 class="card-title">This is title</h6>
                                <p>This is content of our box</p>
                                <button class="btn btn-light">Click!</button>
                            </div>
                            <div class="card-footer text-center">Footer</div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card text-bg-success">
                            <div class="card-header text-center">Header</div>
                            <div class="card-body text-center">
                                <h6 class="card-title">This is title</h6>
                                <p>This is content of our box</p>
                                <button class="btn btn-light">Click!</button>
                            </div>
                            <div class="card-footer text-center">Footer</div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card text-bg-success">
                            <div class="card-header text-center">Header</div>
                            <div class="card-body text-center">
                                <h6 class="card-title">This is title</h6>
                                <p>This is content of our box</p>
                                <button class="btn btn-light">Click!</button>
                            </div>
                            <div class="card-footer text-center">Footer</div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card text-bg-success">
                            <div class="card-header text-center">Header</div>
                            <div class="card-body text-center">
                                <h6 class="card-title">This is title</h6>
                                <p>This is content of our box</p>
                                <button class="btn btn-light">Click!</button>
                            </div>
                            <div class="card-footer text-center">Footer</div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card text-bg-success">
                            <div class="card-header text-center">Header</div>
                            <div class="card-body text-center">
                                <h6 class="card-title">This is title</h6>
                                <p>This is content of our box</p>
                                <button class="btn btn-light">Click!</button>
                            </div>
                            <div class="card-footer text-center">Footer</div>
                        </div>
                    </div>
                </div>
            </section>

        </div>

    </div>
    <br>
    <hr>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="row">

        <div class="col-12 mb-5">
            <div class="nav nav-tabs">
                <div class="nav-item">
                    <a href="/summary" class="nav-link active">Main</a>
                </div>
                <div class="nav-item">
                    <a href="#" class="nav-link disabled">Catalog</a>
                </div>
                <div class="nav-item">
                    <a href="/skills" class="nav-link">Shop list</a>
                </div>
            </div>
        </div>

        <div class="col-5 pe-5">
            <div class="card">
                <div class="pt-4 pb-3 px-4">
                    <div class="nav flex-column ">
                        <div class="nav-item pb-3">
                            <div class="card">
                                <a href="/summary" class="nav-link">Home page</a>
                            </div>
                        </div>
                        <div class="nav-item pb-3">
                            <div class="card">
                                <a href="#" class="nav-link disabled">Bootstrap</a>
                            </div>
                        </div>
                        <div class="nav-item pb-3">
                            <div class="card">
                                <a href="/skills" class="nav-link">FAQ page</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-7">
            <div class="row">
                <div class="col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#">PC та ноутбук</a>
                        </li>
                        <li class="breadcrumb-item">
                            Macbook
                        </li>
                    </ol>
                </div>
                <div class="col-12">
                    <button class="btn btn-primary rounded-pill mb-3">Buy</button>

                    <div class="alert alert-dark">
                        <h6 class="mb-2">
                            Hello World <span class="badge text-bg-secondary rounded-pill text-uppercase">Top
                                seller</span>
                        </h6>
                        <p class="m-0">This is info</p>
                    </div>
                </div>
            </div>
        </div>


</main>