{{#with footer}}
<footer>
    <div>
        {{#with social}}
        {{> link text=email.text href=email.href blank=true }}
        {{> link text=phone.text href=phone.href blank=true }}
        {{> link text=linkedIn.text href=linkedIn.href blank=true noLine=true}}
        {{/with}}
    </div>
    <hr class="my-5">
    <div class="my-3">
        <em>Copyright by {{../header.name.firstname}} {{../header.name.lastname}}</em>
    </div>
    <div>
        <address>{{../header.address}}</address>
    </div>
</footer>
{{/with}}